@font-face { 
    font-family: 'JetBrains Mono Medium'; 
    src: url('font/JetBrainsMono-Medium.ttf'); 
}
div {
    text-align: center;
    font-family: 'JetBrains Mono Medium';
}

table, tr, td {
    font-family: 'JetBrains Mono Medium';
    text-align: center;
    height: max-content;
    font-weight: lighter;
    padding: 2px;
    width: fit-content;
    height: fit-content;
    padding-top: 5px;
    padding-right: 10px;
    padding-left: 10px;
}
.alert-invalid-input {
    font-family: 'JetBrains Mono Medium';
    text-align: center;
    font-weight: bolder;
    color: red;
    font-size: larger;               
}
.right {
    right: auto;
}
.left {
    left:auto;
}
.text-string {
    height: 50px;
    width: 500px;
}
.button-text-center {
    height: 45px;
    width: 45px;
}